
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    //this defines what one "rem" is
    //the default 100% font-size is 16px
    font-size: 62.5%;


    
    @include respond(tab-land) {
        font-size: 56.25%;  
    }

    @include respond(tab-port) {
        font-size: 50%;  
    }

    @include respond(big-desktop) {
        font-size: 75%;  
    }
}
body{
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}


::selection {
    background-color: $color-primary;
    color: $color-white;
}